/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.color-1 {
    background: rgb(36, 17, 28); /* background: rgb(36, 17, 28) Dark purple*/
}

.color-2 {
    background: rgb(218, 178, 167); /* background: rgb(218, 178, 167); light pink*/
}

.color-3 {
    background: rgb(83, 119, 134); /*background: rgb(83, 119, 134); blue*/
}


/* Textures or Patterns*/

.pattern-1 {
    background: url(../img/photography.png);
}

.pattern-2 {
    background: url(../img/paisley.png);
}

.pattern-3 {
    background: url(../img/gplaypattern.png);
}

/* Imagery */

.imagery-1 {
    background: url(../img/me.jpg);
    height: 200px;
    width: 300px;
}

.imagery-2 {
    background: url(../img/perfume.JPG);
}

.imagery-3 {
    background: url();
}

/* Icons     http://iconmonstr.com/ */


/* Typography */

.primary {
   font-family:'Rochester', cursive;
}

.secondary {
    font-family: 'Raleway', sans-serif;
}

.paragraphs {
    font-family: 'Roboto Slab', serif;
}

/* Forms */


/* Tables */


/* Cards */